<div class="container-edit mt-5">
    <div class="row justify-content-center">
        <div class="col-7 mt-3 mb-5">
            <div class="head-body px-3 py-2 rounded ms-1 text-white text-center fs-3">
                Liên hệ
            </div>
            <div class="row mt-3 bg-com pb-4 mx-1 justify-content-center">
                <img class="w-25" src="/img/logo.png" alt="khong-tai-duoc-hinh-anh">
                <div class="col-7 ms-5">
                    <h5 class="ms-4 mt-4"><i class="fa-solid fa-phone"></i> Hotline: 0944 0090 84 </h5>

                    <h5 class="ms-4"><i class="fa-solid fa-envelope"></i> Email: dangnhutthai@gmail.com</h5>

                    <h5 class="ms-4"><i class="fa-solid fa-location-dot"></i>
                        Địa chỉ: Tây Bình, Thoại Giang, Thoại Sơn, An Giang</h5>

                </div>

            </div>
        </div>
    </div>
</div>
</div>