<div class="container-edit mt-5">
    <div class="row justify-content-center">
        <div class="col-7 mt-3">
            <div class="head-body px-3 py-2 rounded ms-1 text-white text-center fs-3">
                Giới thiệu
            </div>
            <div class="row mt-3 bg-com pb-3 mx-1 justify-content-center">
                <div class="col-11 ms-5">
                    <h3>Về website</h3>
                    <p>Website tuyển dụng việc làm là nền tảng trực tuyến kết nối nhà tuyển dụng với những ứng viên
                        đang tìm kiếm cơ hội nghề nghiệp phù hợp. Đây là kênh thông tin quan trọng cho cả hai bên,
                        giúp tiết kiệm thời gian và công sức trong quá trình tìm kiếm và tuyển dụng nhân sự.</p>
                    <h3>Về chúng tôi</h3>
                    <p>Được xây dựng với đội ngũ chuyên nghiệp và kinh nghiệm. <i>Website tuyển dụng</i> được thiết kế
                        một cách dễ nhìn, dễ thao tác
                        giúp người dùng dễ dàng tìm kiếm được việc làm và các nhà tuyển dụng có thể dễ dàng tìm kiếm các
                        ứng viên cho
                        công việc. Cung cấp môi trường tìm kiếm và tuyển việc làm lành mạnh, trong sạch và đáng tin cậy.</p>

                    <div class="d-flex flex-row-reverse me-5">

                        <strong>Đặng Nhựt Thái</strong>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
</div>