<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                Chúc mừng bạn đã đăng ký thành công!</h5> <i class="fa-solid fa-check fs-4 me-4" style="color: #63E6BE;"></i>
            </div>
            <div class="modal-body">
                Khi lần đầu đăng ký tài khoản, bạn phải nhập đầy đủ thông tin một cách chính xác để dễ dàng tìm được công việc phù hợp.
                Xin cảm ơn <i class="fa-regular fa-face-smile" style="color: #000;"></i>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-submit">
                    <a href="create" class="text-decoration-none text-white">
                        Nhập thông tin ->
                    </a></button>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function () {

        $('#staticBackdrop').modal('show');
    };
</script>